header{
    background-color: lightgray;color:darkslategrey;
    text-align: center;
    border: 1px dashed rgb(137, 137, 137);
    
}
.box{
    border: 1px solid rgba(0, 0, 0, 0.562);
}
main{
    background-color: rgba(255, 255, 0, 0.356);
}

body{
    background-color: rgb(144, 18, 18);
}
.underline{
    text-decoration: none;
}
/* set the image to display block; then you can use the margin: 0 auto; */
.latte-img{
    margin: 0 auto;
}
/* you must set a width and height on an empty container if you want your image to show up */
.hero {
    background-image: url("./images/filter1.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: -300 0;
    max-width: 100%;
    height: 425px;

}
img{
    display: block;
    margin: 0 auto;
}
#ventilation{
    text-align: left;
    display: block;
    width: 100%;
    margin: 0 auto;
}
#humidity{
    border: 1px dashed lightgray;
    text-align: left;
    display: block;
    width: 100%;
    margin: 0 auto;
}
#filtration{
    font-family: 'Nunito', serif;
    text-align: left;
    display: block;
    width: 100%;
    margin:0 auto;
}
ul a li{
    text-align: center;
    text-decoration: none;
}
body{
    @import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700&display=swap');
    font-family: 'Nunito', sans-serif; 
    background-color:rgb(255, 255, 255);
    font-style: oblique;
    font-weight: 900;
    font-size: 20px;
    line-height: 1.3;
}
h1{
    font-family: 'Nunito', sans-serif;
    background-color:rgb(211, 167, 211);
    font-size: 42px;
    text-align: center;
    border: 1px dashed rgb(137, 137, 137);
}
span{
    color:red;
}
footer p{
    text-align: center;
}
h2{
    text-decoration: underline;
}
header a:hover {
    text-decoration:underline;
}
a:hover
 {
    text-decoration: underline;
}
